<div class="comments my-3 pb-2">
  {{#each this}}
  <section class="comment mb-3">
    <div class="meta">
      <strong>{{user.username}}</strong> on <strong>{{format_date created_at}}</strong>
    </div>
    <div class="text">
      {{comment_text}}
    </div>
    <a href="/comments/{{id}}" id="comment-number" class="delete-comment-btn">Delete</a>
  </section>
  {{/each}}
</div>