<div class="comments my-5">
  {{#each this}}
  <section class="comment mb-3">
    <div class="meta">
      <strong>{{user.username}}</strong> on <strong>{{format_date created_at}}</strong>
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>