<div class="comments">
  {{#each this}}
  <section class="card p-3 comment">
    <div class="meta">
      <strong>{{user.username}}</strong> on <strong>{{format_date created_at}}</strong>
    </div>
    <div class="text">
      {{comment_text}}
    </div>
    <a href="/comments/{{id}}" id="comment-number"class="edit-link delete-comment-btn">Delete</a>
  </section>
  {{/each}}
</div>