<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dainty Food Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <div class="container-fluid justify-content-center">
      <a class="navbar-brand navbar-nav" href="/"><img src="../../public/images/Logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../../public/images/hamburger.png" class="burger-icon rounded">
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/"><img src="../../public/images/homepage.png"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard"><img src="../../public/images/dashboard.png"></a>
        </li>
        {{#if loggedIn}}
          <li class="nav-item">
            <a class="nav-link" href="#" id="logout"><img src="../../public/images/logout.png"></a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login" id="logout"><img src="../../public/images/login.png"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup" id="logout"><img src="../../public/images/signup.png"></a>
          </li>
        {{/if}}
      </ul>
      </div>
      </div>
    </nav>
    
  <div class="container">

    <div class="wrapper">
        {{{body}}}
    </div>
    
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="/javascript/delete-comment.js"></script>
  </div>
  
  <footer>
    <div class="container row">
      <div class="footer-element col-lg-8 col-12">
      <h3>Come back and cook anytime!</h3>
      </div>


      <div class="footer-element col-lg-4 col-12">
        <div class="col-4">
        Contact us:
        </div>

        <div class="col-8">
          <ol>
            <a href="mailto:jpark103193@gmail.com">Email</a>
            <br/>
            <a href="https://github.com/aznjp/project-dos">Github</a>
          </ol>
        </div>
        
      </div>
    </div>
  </footer>
</body>
  
</html>