<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Another Food Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
    <nav>
    <hi>
        <a href="/">Another Food Blog</a>
    </hi>
    <hi>
        <a href="/login">Login</a>
    </hi>
    </nav>
</header>

<body>
    <div class="wrapper">
        <header>
            <h1>
                Another Food Blog
            </h1>
        </header>
        <main class="blog-body">

        </main>
        <footer>
            Come back anytime!
        </footer>
    </div>
</body>

</html>