<article>
  <h2 class = "edit-recipe-h2">
    Edit Post
  </h2>
  <form id="edit-recipe-form" method="put" enctype="multipart/form-data" class="border border-dark container rounded card">
    <div>
      <h3 class = "edit-recipe-h3">Edit Title</h3>
      <input name="title" type="text" class="form-control" rows="3" value="{{recipe.title}}" />
    </div>
    <div>
      <h3 class = "edit-recipe-h3">Edit Ingredients</h3>
      <textarea name="ingredients" class="form-control" rows="10">{{recipe.ingredients}}</textarea>
    </div>
        <div>
      <h3 class = "edit-recipe-h3">Edit Instructions</h3>
      <textarea name="instructions" class="form-control" rows="10">{{recipe.instructions}}</textarea>
    </div>
    <div class="mb-5 mt-4">
      <h3 class = "edit-image-h3">Edit Image</h3>
      <input type="file" id="recipe-img" name="recipe-img" onchange="readURL(this)" />
      <img id="blah" src="#" width="300" height="300"/>
    </div>
    <button type="submit" class="btn btn-success btn-block">Update Recipe</button>
    <button type="button" class="btn btn-danger btn-block delete-recipe-btn mb-4">Delete Recipe</button>
  </form>
</article>


<script src="/javascript/edit-recipe.js"></script>
<script src="/javascript/delete-recipe.js"></script>
<script src="/javascript/read-url.js"></script>