{{!-- <ol class="recipe-list">
  {{#each recipes as |recipe|}}
  <a>
    {{> recipe-info recipe }}
  </a>
  {{/each}}
  </ol> --}}

<h2>List of Recipes</h2>
<div class="recipe-list">
  {{#each recipes as |recipe|}}
  <a>
    {{> single-recipe-display recipe}}
  </a>
  {{/each}}
</div>