<<<<<<< HEAD
<div>You are on the homepage</div>
=======
<ol class="recipe-list">
  {{#each recipes as |recipe|}}
  <a>
    {{> recipe-info recipe }}
  </a>
  {{/each}}
</ol>
>>>>>>> 2018862085aab07231669314c57f126c1153f3a8
