<div class="login-page">
<div class="login-card">
    <h3>Login here!</h3>
<form class="login-form">
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login"/>
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login"/>
    </div>
    <div>
        <button class= "login-btn rounded-pill " type="submit">Login!</button>
    </div>
</form>
</div>
</div>

<script src="/javascript/login.js"></script>