<section class = "your-new-recipe">
  <form class="new-recipe-form container border border-dark rounded card">
    <h2>Create New Post</h2>
    <div>
      <label for="recipe-title">Title</label>
      <input type="text" id="recipe-title"  class="form-control" rows="3" name="recipe-title" />
    </div>
    <div>
      <label for="ingredients">Ingredients</label>
      <textarea id="ingredients" name="ingredients" class="form-control" rows="10"></textarea>
    </div>
    <div>
      <label for="instructions">Ingredients</label>
      <textarea id="instructions" name="instructions" class="form-control" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4 mt-4">Create Recipe</button>
  </form>
</section>

<script src="/javascript/add-recipe.js"></script>