<header>
    <h1>
        <a href="/">Another food Blog</a>
    </h1>
    <nav>
       <h3>already have an account?</h3> 
        <a href="/login">Login</a>
    </nav>
</header>


<body>
<div class="signup-box">
<form class="signup-form">
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup"/>
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup"/>
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="text" id="password-signup"/>
    </div>
    <div>
        <button type="submit">Signup!</button>
    </div>
</form>
</div>
</body>