{{!-- <form action="/api/users/signup" method="post" enctype="multipart/form-data">
    <input type="file" name='avatar' placeholder="Select file"/>
    <br/>
    <button>Upload</button>
</form> --}}

<form class="signup-form" enctype="multipart/form-data">
    <div>
        <input type="file" name="avatar" />
    </div>
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup"/>
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup"/>
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="text" id="password-signup"/>
    </div>
    <div>
        <button type="submit">Signup!</button>
    </div>
</form>

<script src="/javascript/signin.js"></script>
