<div class="single-recipe">
  {{> recipe-info recipe}}
</div>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body" class="form-control" rows="5"></textarea>
  </div>
  <div>
    <button type="submit" class ="btn btn-success btn-block">Add Comment</button>
  </div>
</form>
{{/if}}
{{> comments recipe.comments}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}