:root {
    --light-text: #ffffff;
    --navbar-color: #212529
}

.navbar a,
.navbar a:hover,
.navbar a:visited {
    text-decoration-style: none;
    font-family: serif;
    text-shadow: 2px 4px 2px black;
    color: var(--light-text);
}

.nav-brand {
    text-shadow: 2px 5px 2px black;
}

.login-page,
.signup-page {
    margin: 0;
    padding: 0;
    background-image: url(../images/cutting-board.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-page {
    background-image: url(../images/cutting-board2.jpg);
}

.login-card,
.signup-card {
    border: black;
    box-shadow: 1px 2px 230px 1px black;
    padding: 20px;
    margin: 4% auto;
    border-style: double;
    text-align: center;
    color: var(--light-text);
}

.login-form,
.signup-form {
    text-align: right;
}

.btn {
    color: white
}