@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
 :root {
    --light-text: #ffffff;
    --navbar-color: #212529;
    --title-color: #393e46;
    --green-color: rgb(72, 175, 72);
    --darker-greencolor: rgb(40, 68, 40);
}

.navbar a,
.navbar a:hover,
.navbar a:visited {
    text-decoration-style: none;
    font-family: serif;
    text-shadow: 2px 4px 2px black;
    color: var(--light-text);
}

.nav-brand {
    text-shadow: 2px 5px 2px black;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.card {
    border: white;
}

.card-body {
    background-color: var(--title-color);
    ;
}

.card-title {
    background-color: var(--title-color);
    border-radius: 0;
}

.recipe-list {
    justify-content: center;
    align-content: center;
}

.login-page,
.signup-page {
    margin: 0;
    padding: 0;
    background-image: url(../images/cutting-board.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-page {
    background-image: url(../images/cutting-board2.jpg);
}

.login-card,
.signup-card {
    border: black;
    box-shadow: 1px 2px 230px 1px black;
    padding: 20px;
    margin: 4% auto;
    border-style: double;
    text-align: center;
    color: var(--light-text);
}

.login-form,
.signup-form {
    text-align: right;
}

.recipe h3 {
    color: var(--navbar-color);
    font-family: serif;
    font-size: 2rem;
    font-weight: 200s;
}

.btn {
    color: white
}

footer {
    background-color: var(--navbar-color);
}

.footer-element {
    text-decoration-style: none;
    font-family: serif;
    text-shadow: 2px 4px 2px black;
    color: var(--light-text);
}


.recipe {
    overflow: hidden;
}

.username {
    color: rgb(247, 107, 107);
    text-transform: capitalize;
}

.homepage-container {
    background-color: white;
    border: 4px solid var(--green-color);
}

.homepage-container .carousel {
    border-bottom: 4px solid var(--green-color);
}

ol {
    list-style: none;
}

ul {
    list-style: none;
    align-items: inherit;
}

h5 {
    font-family: 'Russo One', sans-serif;
}

.carousel-caption {
    background-color: var(--green-color);
    width: 100%;
    left: 0%;
    right: 0%;
}

#navbarSupportedContent {
    justify-content: flex-end;
}

.burger-icon {
    height: 40px;
    width: 50px;
}

.recipe-block {
    white-space: pre-line;
    color: var(--darker-greencolor);
}

.description-block {
    height: 50px;
}

.white-background{
    background-color: var(--light-text);
}


/* MEDIA QUERIES FOR CUSTOMIZING CAROUSEL SIZES */

@media (max-width: 575.98px) {
    .carousel-image-size {
        height: 300px;
    }
    .carousel-caption {
        height: 70px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    h5 {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 0.5rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-image-size {
        height: 350px;
    }
    .carousel-caption {
        height: 75px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    h5 {
        font-size: 22px;
        margin-bottom: 0;
        margin-top: 0.5rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .carousel-image-size {
        height: 400px;
    }
    .carousel-caption {
        height: 80px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    h5 {
        font-size: 24px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .carousel-image-size {
        height: 500px;
    }
    .carousel-caption {
        height: 90px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    h5 {
        font-size: 26px;
    }
}

@media (min-width: 1200px) {
    .carousel-image-size {
        height: 615px;
    }
    .carousel-caption {
        height: 115px;
    }
    h5 {
        font-size: 30px;
    }
}